<template>
  <div
    class="cart-area flex justify-center mt-5 md:mt-12"
    :class="cart.length ? '' : 'empty-cart-style'"
  >
    <div
      v-if="cart.length"
      class="cart w-10/12 md:grid md:grid-cols-3 md:gap-x-5"
    >
      <div class="cart-boxs flex flex-col gap-y-4 md:col-span-2">
        <CartBox v-for="(pro, index) in cart" :key="index" :pro="pro" />
      </div>
      <div
        class="
          cart-total
          bg-white
          mt-8
          md:mt-0
          p-5
          rounded-lg
          flex flex-col
          justify-between
          gap-y-4
        "
      >
        <div class="cart-total__output flex flex-col gap-y-5">
          <div class="cart-total__price flex justify-between">
            <h4>مجموع قیمت:</h4>
            <h3 class="text-orange-400 font-bold text-lg xl:text-xl">
              {{ disCountedPrice ? disCountedPrice : totalPrice }} تومان
            </h3>
          </div>
          <div class="cart-total__discount flex flex-col gap-y-3">
            <h5
              class="text-sm text-gray-500 cursor-pointer"
              @click="showDisInput = !showDisInput"
            >
              کد تخفیف دارید؟
            </h5>
            <div
              class="cart-total__disBox flex justify-between"
              v-if="showDisInput"
            >
              <input
                type="text"
                class="
                  border-2 border-orange-400
                  rounded
                  p-1
                  text-sm
                  px-2
                  text-left
                  focus:outline-0
                "
                v-model.lazy="inputValue"
              />
              <button
                @click="checkCoponValue"
                class="
                  bg-orange-400
                  text-white
                  rounded
                  py-1
                  px-5
                  text-sm
                  hover:bg-orange-500
                "
              >
                ثبت کد
              </button>
            </div>
          </div>
        </div>
        <div class="cart-total__buttons flex flex-col gap-y-3">
          <div class="cert-total__paymentBtn mt-4">
            <button
              class="
                bg-orange-400
                text-white
                w-full
                py-2
                rounded-lg
                hover:bg-orange-500
              "
            >
              ادامه فرایند خرید
            </button>
          </div>
          <div class="cert-total__refusePaymentBtn">
            <button
              class="
                border-2 border-orange-400
                text-orange-400
                bg-white
                w-full
                py-2
                rounded-lg
              "
            >
              انصراف از خرید
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="empty-cart flex justify-center items-center">
      <h2 class="text-gray-700">سبد خرید شما خالیست!</h2>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import CartBox from "../components/CartBox.vue";

export default {
  computed: {
    ...mapState(["cart", "copons", "disCountedPrice"]),
    ...mapGetters(["totalPrice"]),
  },
  data() {
    return {
      showDisInput: false,
      inputValue: "",
    };
  },
  methods: {
    checkCoponValue() {
      this.copons.forEach((copon) => {
        if (copon.code === this.inputValue) {
          this.$store.commit("setDiscount", copon);
        }
      });
    },
  },
  components: { CartBox },
};
</script>

<style scoped lang="scss">
button {
  transition: ease-in-out 0.4s;
}
.cart {
  padding-bottom: 80px;
}
.cart-boxs {
  height: 320px;
  overflow-y: auto;
}
// @media only screen and (min-width: 768px){
// .cart-area{
//   height: calc(100vh - 489px);
// }
// }
.empty-cart-style {
  height: calc(100vh - 540px);
}
</style>