<template>
  <div class="category flex justify-center">
      <MobileCategory/>
  </div>
</template>

<script>
import MobileCategory from "@/components/MobileCategory.vue";

export default {
  components: {
    MobileCategory,
  },
};
</script>

<style>
</style>