<template>
  <div class="product-filter-cat flex justify-center">
    <div class="pro-filter flex flex-col justify-center items-center w-10/12">
      <div class="bread-crumbs flex items-center gap-x-1 mt-1 mb-7">
        <router-link :to="{ name: 'HomeView' }" class="text-gray-400"
          >محصولات</router-link
        >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#f59e0b"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>

        <span>{{ $route.params.cat }}</span>
      </div>
      <div
        class="
          product-boxs
          w-11/12
          flex flex-col
          gap-y-6
          xs:grid xs:grid-cols-2 xs:w-full xs:gap-5
          sm:gap-6
          md:grid-cols-3 md:gap-4
          lg:gap-6
          2lg:grid-cols-4 2lg:gap-4
          xl:grid-cols-5 xl:gap-5
        "
      >
        <Product
          v-for="(product, index) in filteredProducts"
          :key="index"
          :product="product"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Product from "../components/Product.vue";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      filteredProducts: null,
    };
  },
  components: {
    Product,
  },
  props: ["cat"],
  computed: {
    ...mapGetters(["mobile", "laptop", "smartWatch"]),
  },
  beforeMount() {
    this.filteredProducts =
      this.$route.params.cat === "موبایل"
        ? this.mobile
        : this.$route.params.cat === "لپ تاپ"
        ? this.laptop
        : this.smartWatch;
  },
  updated() {
    this.filteredProducts =
      this.$route.params.cat === "موبایل"
        ? this.mobile
        : this.$route.params.cat === "لپ تاپ"
        ? this.laptop
        : this.smartWatch;
  },
};
</script>

<style scoped>
.product-filter-cat {
  padding-bottom: 80px;
}
</style>