<template>
  <div class="product-filter-brand flex justify-center">
    <div class="pro-filter flex flex-col justify-center items-center w-10/12">
      <div class="bread-crumbs flex items-center gap-x-1 mt-1 mb-7">
        <!-- all products -->
        <router-link :to="{ name: 'HomeView' }" class="text-gray-400"
          >محصولات</router-link
        >
        <!-- chevron -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#f59e0b"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
        <!-- category -->
        <router-link
          :to="{
            name: 'FilterProByCat',
            params: { cat: $route.params.cat },
          }"
          class="text-gray-400"
        >
          {{ $route.params.cat }}</router-link
        >
        <!-- chevron -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#f59e0b"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
        <!-- brand -->
        <span>{{ $route.params.brand }}</span>
      </div>
      <div
        class="
          product-boxs
          w-11/12
          flex flex-col
          gap-y-6
          xs:grid xs:grid-cols-2 xs:w-full xs:gap-5
          sm:gap-6
          md:grid-cols-3 md:gap-4
          lg:gap-6
          2lg:grid-cols-4 2lg:gap-4
          xl:grid-cols-5 xl:gap-5
        "
      >
        <Product
          v-for="(product, index) in filteredProducts"
          :key="index"
          :product="product"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Product from "../components/Product.vue";
import { mapState, mapGetters } from "vuex";

export default {
  data() {
    return {
      setCategory: null,
      categorizedPros: [],
      filteredProducts: null,
    };
  },
  components: {
    Product,
  },
  props: ["cat", "brand"],

  computed: {
    ...mapState(["products"]),
    ...mapGetters(["mobile", "laptop", "smartWatch"]),
  },

  beforeMount() {
    this.setCategory = this.$route.params.cat;
    this.categorizedPros =
      this.setCategory === "موبایل"
        ? this.mobile
        : this.setCategory === "لپ تاپ"
        ? this.laptop
        : this.smartWatch;

    this.filteredProducts = this.categorizedPros.filter((pro) => {
      return pro.brand === this.brand;
    });
  },
};
</script>

<style scoped>
.product-filter-brand {
  padding-bottom: 80px;
}
</style>