<template>
  <div class="home-area flex justify-center">
    <div class="home grid grid-cols-12 gap-x-7 w-10/12">
      <!-- filter - aside -->
      <div class="home-filter col-span-3">
        <Sidebar/>
        <div class="home-filter__mobile"></div>
      </div>
      <!-- main -->
      <div class="home-main col-span-9 flex justify-center">
        <!-- navigation -->
        <div class="home-main-nav"></div>

        <!-- products -->
        <Products/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Sidebar from "../components/Sidebar.vue";
import Products from "../components/Products.vue";

export default {
  name: "HomeView",
  data() {
    return {
      
    };
  },
  components: { Sidebar,Products },
  computed: {
    ...mapState(["products", "categories"]),
  },
};
</script>

<style scoped lang="scss">
.home {
  padding-bottom: 80px;
}
</style>
