<template>
  <div class="single-product flex justify-center">
    <div class="product w-10/12 md:flex lg:justify-between">
      <!-- product image -->
      <div class="product__img flex justify-center items-center md:block xl:w-4/12">
        <img :src="product.image" alt="" class="xl:mt-12"/>
      </div>
      <div
        class="
          product__content
          md:flex md:flex-col md:justify-start md:w-7/12 md:mt-12
          lg:w-8/12
          xl:flex-row xl:grid xl:grid-cols-6 xl:justify-between xl:gap-x-5
        "
      >
        <div class="xl:col-span-3">
          <!-- product title -->
          <div class="product__title text-center mt-3 xl:text-right">
            <h2 class="text-slate-800 text-xl mb-2">{{ product.title }}</h2>
            <h3 class="text-gray-400 text-sm">{{ product.english }}</h3>
          </div>
          <!-- product colors -->
          <div class="product__pick-color mt-7">
            <div class="flex justify-evenly xl:justify-start xl:gap-x-5">
              <p class="text-slate-800">انتخاب رنگ:</p>
              <div class="product__colors cursor-pointer flex gap-x-2">
                <div
                  class="product__color rounded-full"
                  v-for="(color, index) in product.colors"
                  @click="colorClicked(color)"
                  :class="
                    setColor === color.name
                      ? 'ring-2 ring-orange-400 ring-offset-2 ring-offset-white'
                      : ''
                  "
                  :key="index"
                  :style="`background-color: ${color.code}`"
                ></div>
              </div>
            </div>
            <div class="product__set-color text-center xl:text-right mt-4">
              <span class="text-gray-400 text-sm">رنگ انتخاب شده: </span>
              <span>{{ setColor }}</span>
            </div>
          </div>
          <!-- product tranfer details -->
          <div
            class="product__transfers mt-8 flex flex-col items-center xl:items-start gap-y-2"
          >
            <div
              class="
                product__transfer
                flex
                items-center
                w-7/12
                text-slate-800
                gap-x-1
              "
              v-for="(transfer, index) in transfers"
              :key="index"
            >
              <div class="product__transfer-title flex items-center gap-x-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="#f97316"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    :d="transfer.icon"
                  />
                </svg>

                <span class="font-bold text-sm">{{ transfer.key }}:</span>
              </div>
              <div class="product__transfer-value">
                <span class="text-sm">{{ transfer.value }}</span>
              </div>
            </div>
          </div>
          <AddToCartDesktop :product="product" :setColor="setColor" class="hidden md:flex mt-8"/>
        </div>
        <!-- product features -->
        <div class="product__details xl:col-span-3">
          <ProductDetails :product="product" />
        </div>
      </div>
      <!-- add to cart -->
      <AddToCart :product="product" :setColor="setColor" class="md:hidden" />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import ProductDetails from "../components/ProductDetails.vue";
import AddToCart from "../components/AddToCart.vue";
import AddToCartDesktop from "../components/AddToCartDesktop.vue";

export default {
  //   computed: {
  // ...mapState(['products']),
  // product(){
  //     return this.products.find((pro) => {
  //         return pro.meta === this.meta;
  //     })
  // }
  //   },
  computed: mapState({
    product(state) {
      return state.products.find((pro) => {
        return pro.meta === this.meta;
      });
    },
  }),
  data() {
    return {
      setColor: "",
      defaultColor: {},
      transfers: [
        {
          key: "فروشنده",
          value: "دیجی تایز",
          icon: "M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z",
        },
        {
          key: "گارانتی",
          value: "18 ماه زرین خدمت",
          icon: "M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z",
        },
        {
          key: "ارسال توسط",
          value: "انبار تهران",
          icon: "M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12",
        },
      ],
    };
  },

  methods: {
    colorClicked(color) {
      this.setColor = color.name;
    },
  },
  components: { ProductDetails, AddToCart, AddToCartDesktop },
  props: ["meta"],
};
</script>

<style scoped lang="scss">
.product {
  padding-bottom: 80px;
  &__color {
    width: 25px;
    height: 25px;
  }
}

</style>