<template>
  <div
    class="
      addToCart-box
      bg-white
      py-2
      px-5
      rounded-lg
      flex
      justify-between
      items-center
      w-full
    "
  >
    <!-- add to cart button and incr & decr count -->
    <div class="addToCart-box__control w-7/12">
      <!-- <AddToCart :product="product" :setColor="setColor"/> -->
      <div class="addToCart">
        <div class="addToCart__btn">
          <button
            @click="addToCartClicked(addedProduct)"
            v-if="!proIsInCart"
            class="bg-orange-400 text-white rounded-lg w-full py-2"
          >
            اضافه به سبد خرید
          </button>
          <!-- <div v-if="cart">{{cart[0]}}</div> -->
        </div>
        <div
          class="addToCart__change flex justify-between items-center gap-x-2"
          v-if="proIsInCart"
        >
          <!-- increase counter button -->
          <button
            class="addToCart__increase bg-orange-400 p-1 rounded-lg"
            @click="increaseCount({ proIsInCart })"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#fff"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
          </button>
          <!-- show value of counter -->
          <div
            class="
              addToCart__counter
              w-full
              text-center
              border border-1 border-orange-400
              rounded-md
              py-1
            "
          >
            {{ proIsInCart.addedProduct.count }}
          </div>
          <!-- decrease counter button -->
          <button
            class="addToCart__decrease bg-orange-400 p-1 rounded-lg"
            @click="decreaseCount({ proIsInCart })"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#fff"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 12h-15"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- product price -->
    <div class="addToCart-box__price flex flex-col items-start">
      <h3 class="text-slate-800 font-bold text-lg">
        {{ product.perPrice }}
      </h3>
      <span>تومان</span>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  data() {
    return {
      added: false,
      counter: 1,
    };
  },
  props: ["product", "setColor"],
  computed: {
    ...mapState(["cart"]),

    addedProduct() {
      return { product: this.product, setColor: this.setColor, count: 1 };
    },

    proIsInCart(state) {
      return this.$store.state.cart.find((pro) => {
        return pro.addedProduct.product.meta === this.product.meta;
      });
    },
  },
  methods: {
    addToCartClicked(addedProduct) {
      this.added = true;
      this.$store.commit("addToCart", { addedProduct });
      console.log(addedProduct);
    },
    ...mapMutations(["increaseCount",'decreaseCount']),
  },
};
</script>

<style>
</style>