<template>
  <div
    class="
      cart-box
      bg-white
      shadow
      rounded-xl
      p-3
      flex
      justify-between
      items-center
    "
  >
    <div class="cart-box__img">
      <img :src="pro.addedProduct.product.image" alt="" />
    </div>
    <div class="cart-box__features flex flex-col gap-y-2 text-sm sm:text-base">
      <h2 class="text-slate-800">
        {{ pro.addedProduct.product.title }} -
        <span class="text-gray-400">{{ pro.addedProduct.setColor }}</span>
      </h2>
      <h3 class="text-orange-400 font-bold sm:text-lg">
        {{ pro.addedProduct.product.price }}
      </h3>
    </div>
    <div
      class="cart-box__gadjets flex flex-col items-end justify-between h-full"
    >
      <div
        class="cart-box__delete cursor-pointer"
        @click="deleteProduct({ pro })"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#f97316"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </div>
      <div class="cart-box__counter flex gap-x-1 mt-4">
        <div class="cart-box__up" @click="increaseInCart(pro)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#f97316"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
        <div class="cart-box__value">{{ pro.addedProduct.count }}</div>
        <div class="cart-box__down" @click="decreaseInCartClicked(pro)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#f97316"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  props: ["pro"],
  computed: {
    ...mapState(["cart"]),
  },
  methods: {
    ...mapMutations(["deleteProduct", "increaseInCart"]),
    decreaseInCartClicked(pro) {
      if (pro.addedProduct.count > 1) {
        this.$store.commit("decreaseInCart", pro);
      } else {
        this.$store.commit("deleteProduct", pro);
      }
    },
  },
};
</script>

<style scoped lang="scss">
.cart-box {
  &__img {
    img {
      width: 80px;
    }
  }
  &__up,
  &__down {
    cursor: pointer;
  }
}
@media only screen and (min-width: 768px) {
  .cart-box {
    &__img {
      img {
        width: 100px;
      }
    }
  }
}
</style>