<template>
  <div class="category flex justify-evenly gap-x-5">
    <div class="category__right flex items-end">
      <button><img :src="category.img" alt="" /></button>
    </div>
    <div
      class="
        category__left
        w-5/12
        xs:w-7/12
        lg:w-8/12
        flex flex-col
        justify-between
      "
    >
      <div class="category__left-top flex justify-end">
        <button class="text-orange-400">
          <router-link
            :to="{
              name: 'FilterProByCat',
              params: { cat: category.title },
            }"
          >
            مشاهده همه</router-link
          >
        </button>
      </div>
      <div class="category__left-bottom gap-x-3 flex pb-8 px-6">
        <router-link
          v-for="(brand, index) in category.brands"
          :key="index"
          :to="{
            name: 'FilterProByBrand',
            params: { cat: category.title, brand: brand.name },
          }"
          class="
            category__box
            bg-white
            rounded-xl
            shadow-xl
            flex flex-col
            items-center
            justify-center
            px-7
            py-6
          "
        >
          <img :src="brand.img" alt="" />
          <h3 class="mt-3">{{ brand.name }}</h3>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["category"],
};
</script>

<style scoped lang="scss">
.category {
  &__box {
    width: 150px;
    img {
      width: 80px;
      max-width: none;
    }
  }
  &__left-bottom {
    overflow-x: auto;
    height: 75%;
  }
}
</style>