<template>
  <div class="header-area bg-white flex justify-center mb-9 shadow-lg py-5">
    <div class="header w-10/12 flex justify-between items-center mx-auto">

      <div class="header__logo">
        <img src="../assets/images/svgs/logo-full.svg" alt="" />
      </div>
      <div class="header__navbar">
        <nav>
          <ul class="flex gap-x-7">
            <li
              v-for="(item, index) in navitems"
              :key="index"
              class="text-slate-800"
              :class="$route.name === item.route ? 'font-bold' : ''"
            >
              <router-link :to="{ name: item.route }">{{
                item.title
              }}</router-link>
            </li>
          </ul>
        </nav>
      </div>
      <div class="searchBox w-4/12">
        <button>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#9ca3af"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </button>
        <input
          @click="showSearchBox = !showSearchBox"
          type="text"
          v-model="searchTxt"
          class="
            bg-gray-100
            py-2
            pl-3
            pr-9
            rounded-lg
            text-sm
            w-full
            cursor-pointer
            focus:bg-gray-200
          "
          placeholder="جست و جوی نام محصول..."
        />
        <div
          class="
            searchBox__output
            bg-gray-100
            w-full
            rounded-lg
            shadow-xl
            overflow-y-auto
            flex
            justify-center
            items-center
          "
          v-if="showSearchBox"
        >
          <div class="searchBox__full flex flex-col gap-y-2 px-2 pb-1" v-if="searchTxt">
            <div
              class="founded flex justify-between items-center bg-white gap-x-2 rounded-lg pl-1"
              v-for="(pro, index) in suggestedPros"
              :key="index"
            >
              <div
                class="founded__content flex justify-start items-center gap-x-1"
              >
                <div class="founded__img">
                  <img :src="pro.image" alt="" />
                </div>
                <div class="founded__title text-sm text-gray-500">
                  <h4>{{ pro.title }}</h4>
                </div>
              </div>
              <div class="founded__route">
                <router-link
                  :to="{
                    name: 'ProductView',
                    params: { meta: pro.meta },
                  }"
                  class="border-1 border-orange-500 p-3 rounded-lg"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#f59e0b"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"
                    />
                  </svg>
                </router-link>
              </div>
            </div>
          </div>
          <div class="searchBox__empty" v-else>
            <h5 class="text-gray-500">محصولی یافت نشد!</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import CartBox from "../components/CartBox.vue";

export default {
  data() {
    return {
      navitems: [
        { title: "خانه", route: "HomeView" },
        { title: "دسته بندی ها", route: "CategoryView" },
        { title: "سبد خرید", route: "CartView" },
        { title: "علاقه مندی ها", route: "LikesView" },
      ],
      showSearchBox: false,
      searchTxt: "",
    };
  },
  computed: {
    ...mapState(["products"]),
    suggestedPros() {
      return this.products.filter((pro) => {
        return pro.title.includes(this.searchTxt);
      });
    },
  },
  components: {
    CartBox,
  },
};
</script>

<style scoped lang="scss">
.searchBox {
  position: relative;
  button {
    position: absolute;
    top: 5px;
    right: 7px;
  }
  input {
    transition: ease-in-out 0.3s;
    &:focus {
      outline: none;
    }
  }
  &__output {
    height: 150px;
    position: absolute;
    top: 46px;
  }
  &__full {
    position: absolute;
    top: 12px;
  }
  .founded {
    &__img {
      img {
        width: 50px;
        max-width: none;
      }
    }
  }
}
</style>