<template>
  <div class="footer-desktop bg-white flex justify-center py-8">
    <div class="footer w-10/12 flex justify-between flex-wrap mx-auto">
      <div class="footer__desc w-6/12 lg:w-4/12">
        <img src="../assets/images/svgs/logo-footer.svg" alt="logo" />
        <p class="text-slate-800 text-justify mt-3 lg:text-base">
          دیجی تایز عرضه کننده جدیدترین محصولات الکترونیک نظیر لپ تاپ، گوشی
          هوشمند و ساعت هوشمند می باشد. <br />دیجی تایز افتخار این را داشته که
          به <span class="text-orange-500">232.112 نفر</span> تا به اکنون، خدمت
          رسانی داشته باشد.
        </p>
      </div>
      <div class="footer__links w-5/12 lg:w-3/12 flex flex-col items-center">
        <h3 class="text-slate-800 font-bold text-xl">محصولات</h3>
        <ul class="flex flex-col gap-y-3 lg:text-base mt-3">
          <li
            v-for="(category, index) in categories"
            :key="index"
            class="text-gray-500 hover:text-gray-700"
          >
            <router-link
              :to="{
                name: 'FilterProByCat',
                params: { cat: category.title },
              }"
              >{{category.title}}</router-link
            >
          </li>
        </ul>
      </div>
      <div class="footer__contacts w-6/12 lg:w-4/12 flex flex-col items-end">
        <div class="footer__map">
          <img src="../assets/images/svgs/map.svg" alt="map" />
        </div>
        <div class="footer__contact">
          <ul class="flex flex-col gap-y-3 lg:text-base">
            <li class="flex justify-end items-center gap-x-1">
              <sapn>۰۲۱-۱۲۳۴۵۶</sapn>
              <!-- <img src="../assets/images/svgs/phone.svg" alt="phone" /> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#f59e0b"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                />
              </svg>
            </li>
            <li class="flex justify-end items-center gap-x-1">
              <span>info@digitize.com</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="#f59e0b"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                />
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      navitems: [
        { title: "موبایل", param: "موبایل" },
        { title: "لپ تاپ", param: "لپ تاپ" },
        { title: "ساعت هوشمند", param: "ساعت هوشمند" },
      ],
    };
  },
  computed: {
    ...mapState(["categories"]),
  },
};
</script>

<style scoped lang="scss">
.footer {
  &__links {
    h3 {
      position: relative;
      &::after {
        content: "";
        width: 23px;
        height: 5px;
        background-color: rgb(233, 129, 91);
        position: absolute;
        top: 12px;
        left: -31px;
      }
    }
  }
}
</style>