<template>
  <div
    v-if="$route.name !== 'ProductView'"
    class="
      footer-mobile
      w-full
      flex
      justify-center
      bg-white
      py-3
      rounded-t-2xl
      shadow-md
    "
  >
    <div class="footer w-9/12 flex justify-between">
      <div
        class="footer__box relative flex items-center gap-x-1"
        v-for="(icon, index) in icons"
        :key="index"
      >
        <span
          class="absolute bg-orange-400 text-white text-xs rounded-full px-1"
          v-if="icon.txt === 'سبد خرید'"
          >{{ cartCount }}</span
        >
        <router-link
          :to="{ name: icon.goTo }"
          class="footer__icon"
          @click="current = icon.txt"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            :stroke="$route.name === icon.goTo ? '#fb923c' : '#1e293b'"
            class="w-7 h-7"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              :d="icon.src"
            />
          </svg>
        </router-link>
        <div class="footer__txt" v-if="$route.name === icon.goTo">
          <h4
            class="font-bold text-sm"
            :class="
              $route.name === icon.goTo ? 'text-orange-400' : 'text-slate-800'
            "
          >
            {{ icon.txt }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      current: "خانه",
      icons: [
        {
          src: "M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25",
          txt: "خانه",
          goTo: "HomeView",
        },
        {
          src: "M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z",
          txt: "دسته بندی",
          goTo: "CategoryView",
        },
        {
          src: "M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z",
          txt: "سبد خرید",
          goTo: "CartView",
        },
        {
          src: "M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z",
          txt: "علاقه مندی ها",
          goTo: "LikesView",
        },
      ],
    };
  },
  computed: {
    ...mapGetters(["cartCount"]),
  },
};
</script>

<style scoped lang="scss">
.footer-mobile {
  position: fixed;
  bottom: 0;
  box-shadow: 0px 6px 10px 12px rgb(0 0 0 / 8%);
}
.footer {
  &__box {
    span {
      top: 16px;
      right: -2px;
    }
  }
}
</style>