<template>
  <div class="category-mobile w-10/12 mt-4">
    <div class="categories flex flex-col gap-y-8">
      <Category v-for="(cat,index) in categories" :key="index" :category="cat"/>
    </div>
  </div>
</template>

<script>
import Category from "./Category.vue";
import { mapState } from "vuex";

export default {
  components: { Category },
  computed: {
    ...mapState(["categories"]),
  },
};
</script>

<style scoped>
.category-mobile{
  margin-bottom: 80px;
}
</style>