<template>
  <div class="header-area flex justify-center items-center py-4">
    <div class="header w-10/12 flex justify-between items-center">
      <div class="header__logo" v-if="$route.name !== 'ProductView'">
        <img src="../assets/images/svgs/logo.svg" alt="" />
      </div>
      <div
        v-if="$route.name === 'ProductView'"
        class="header__go-back bg-white rounded-lg p-2"
        @click="$router.go(-1)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
          />
        </svg>
      </div>
      <div class="header__title">
        <h1 class="font-bold text-slate-800 text-lg">
          {{
            $route.name === "HomeView"
              ? "خانه"
              : $route.name === "CategoryView"
              ? "دسته بندی ها"
              : $route.name === "ProductView"
              ? $route.params.meta
              : $route.name === "CartView"
              ? "سبد خرید"
              : $route.name === "LikesView"
              ? "علاقه مندی ها"
              : $route.name === "FilterProByCat"
              ? 'محصولات'
              : $route.name === "FilterProByBrand"
              ? 'محصولات'
              : ""
          }}
        </h1>
      </div>
      <div class="header__search bg-white rounded-lg p-2">
        <img src="../assets/images/svgs/search-icon.svg" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>