<template>
  <div class="productD bg-white mt-9 xl:mt-0 rounded-xl p-5">
    <div class="productD__tab flex flex-col">
      <!-- tabs -->
      <div
        class="
          productD__tab-items
          bg-gray-200
          text-gray-500
          p-2
          flex
          justify-between
          gap-x-2
          rounded-full
        "
      >
        <div
          class="productD__tab-item cursor-pointer py-1 px-3 xl:px-5 rounded-full"
          @click="setTab = '1'"
          :class="setTab === '1' ? 'bg-white' : ''"
        >
          مشخصات
        </div>
        <div
          class="productD__tab-item cursor-pointer py-1 px-3 xl:px-5 rounded-full"
          @click="setTab = '2'"
          :class="setTab === '2' ? 'bg-white' : ''"
        >
          معرفی
        </div>
        <div
          class="productD__tab-item cursor-pointer py-1 px-3 xl:px-5 rounded-full"
          @click="setTab = '3'"
          :class="setTab === '3' ? 'bg-white' : ''"
        >
          دیدگاه
        </div>
      </div>
      <!-- content of tabs -->
      <div class="productD__tab-content mt-6 px-2">
        <div class="productD__details-tab" v-if="setTab === '1'">
          <h3 class="text-slate-800">ویژگی های کالا:</h3>
          <div class="productD__features">
            <ul class="flex flex-col gap-y-3 mt-3">
              <li
                class="flex gap-x-2"
                v-for="(detail, index) in product.category === 'موبایل'
                  ? mobileDe
                  : product.category === 'ساعت هوشمند'
                  ? watchDe
                  : laptopD"
                :key="index"
              >
                <div class="productD__dot"></div>
                <div class="productD__text">
                  <h4>{{ detail.key }}</h4>
                  <h5 class="text-gray-400">{{ detail.value }}</h5>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="productD__description-tab" v-if="setTab === '2'">
          <p class="text-justify text-gray-600">{{ product.description }}</p>
        </div>
        <div class="productD__comments-tab" v-if="setTab === '3'">
          <div class="productD__comments flex flex-col gap-y-3">
            <div
              class="productD__comment bg-slate-200 p-3 rounded-lg"
              v-for="(comment, index) in product.comments"
              :key="index"
            >
              <h4 class="text-sm text-gray-400">{{ comment.author }}</h4>
              <hr class="border-white my-2" />
              <p class="text-sm">{{ comment.text }}</p>
            </div>
          </div>
          <div class="productD__points flex flex-col gap-y-3 mt-7">
            <div
              class="productD__point w-full"
              v-for="(point, index) in product.points"
              :key="index"
            >
              <h4 class="text-sm text-gray-400">{{ point.key }}</h4>
              <progress
                class="progress progress-warning"
                :value="point.value"
                max="100"
              ></progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      setTab: "1",
      mobileDe: [
        { key: "دسته بندی:", value: this.product.category },
        { key: "برند:", value: this.product.brand },
        { key: "حافظه داخلی:", value: this.product.storage },
        { key: "فناوری صفحه‌نمایش:", value: this.product.screenTech },
        { key: "نسخه سیستم عامل:", value: this.product.system },
        { key: "اندازه:", value: this.product.size },
        { key: "ابعاد:", value: this.product.dimensions },
        { key: "رزولوشن:", value: this.product.resulotion },
      ],
      watchDe: [
        { key: "دسته بندی:", value: this.product.category },
        { key: "نوع کاربری:", value: this.product.use },
        { key: "مناسب برای:", value: this.product.useFor },
        { key: "ظرفیت باتری:", value: this.product.battery },
        { key: "وزن:", value: this.product.weight },
        { key: "ابعاد:", value: this.product.dimensions },
        { key: "فرم صفحه:", value: this.product.form },
        { key: "جنس بند:", value: this.product.band },
        { key: "جنس بدنه:", value: this.product.body },
      ],
    };
  },
  props: ["product"],
};
</script>

<style scoped lang="scss">
h3 {
  font-weight: 600;
}
.productD {
  &__dot {
    width: 7px;
    height: 7px;
    background-color: rgb(255, 115, 0);
    border-radius: 50%;
    margin-top: 8px;
  }
}
// ul li h4::before {
//   content: "";
//   width: 7px;
//   height: 7px;
//   background-color: rgb(255, 115, 0);
//   border-radius: 50%;
//   position: absolute;
// }
</style>