<template>
  <div
    class="
      product-boxs
      w-11/12
      flex flex-col
      gap-y-6
      xs:grid xs:grid-cols-2 xs:w-full xs:gap-5
      sm:gap-6
      md:grid-cols-3 md:gap-4
      lg:gap-6
      2lg:grid-cols-4 2lg:gap-4
      xl:gap-5
    "
  >
    <Product
      v-for="(product, index) in filteredProducts"
      :key="index"
      :product="product"
    />
  </div>
</template>

<script>
import { mapState,mapGetters } from "vuex";
import Product from "../components/Product.vue";

export default {
  components: { Product },
  computed: {
    ...mapState(["products", "categories"]),
    ...mapGetters(['filteredProducts']),
  },
};
</script>

<style>
</style>