<template>
  <div class="product-box bg-white p-5 rounded-2xl">
    <div
      class="
        product-box__img
        bg-gray-200
        flex
        justify-center
        items-center
        rounded-xl
      "
    >
      <img :src="product.image" alt="" />
    </div>
    <div class="product-box__content flex flex-col justify-center text-center">
      <div class="product-box__title mt-4 mb-2">
        <h3 class="text-slate-800">{{ product.title }}</h3>
      </div>
      <div class="product-box__category">
        <h5 class="text-gray-300">{{ product.category }}</h5>
      </div>
      <div class="product-box__price">
        <h4 class="text-orange-500 font-bold text-xl mt-3">
          {{ product.perPrice }} تومان
        </h4>
      </div>
      <div class="product-box__link">
        <!-- <hr class="my-3"> -->
        <router-link
          :to="{ name: 'ProductView', params: { meta: product.meta } }"
          class="
            text-orange-400
            font-bold
            py-2
            flex
            justify-center
            mt-3
            rounded-lg
            hover:bg-orange-400 hover:text-white
          "
          >مشاهده و سفارش</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["product"],
};
</script>

<style scoped lang="scss">
.product-box {
  &__link a {
    border-top: 1px solid rgba(208, 208, 208, 0.51);
    transition: ease-in-out 0.4s;
  }
  &__link a:hover {
    border-top: 1px solid white;
  }
}
</style>