<template>
  <aside class="home-filter__desktop bg-white rounded-xl mx-2 p-5">
    <div class="category-boxs">
      <h3 class="text-orange-500 font-bold text-lg">دسته بندی</h3>
      <ul class="flex flex-col gap-y-4 mt-5">
        <li
          class="category-box flex gap-x-2"
          v-for="(cat, index) in categories"
          :key="index"
        >
          <div class="category-box__icon">
            <img :src="cat.img1" alt="category" />
          </div>
          <div class="category-box__txt text-gray-400">
            <router-link
              :to="{
                name: 'FilterProByCat',
                params: { cat: cat.title },
              }"
              >{{ cat.title }}</router-link
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="filter-boxs mt-7">
      <h3 class="text-orange-500 font-bold text-lg">فیلتر</h3>
      <ul
        class="flex flex-col gap-y-4 mt-5"
        v-for="(filter, index) in filters"
        :key="index"
      >
        <div
          class="filter-boxs__title flex justify-between items-center gap-x-2"
        >
          <div class="flex gap-x-2 items-center">
            <img :src="filter.img" alt="filter" />
            <h4>{{ filter.title }}</h4>
          </div>
          <div class="cursor-pointer" @click="filter.isShow = !filter.isShow">
            <!-- down -->
            <svg
              v-if="!filter.isShow"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#9ca3af"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
            <!-- up -->
            <svg
              v-else
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#9ca3af"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 15.75l7.5-7.5 7.5 7.5"
              />
            </svg>
          </div>
        </div>
        <div v-if="filter.isShow" class="flex flex-col gap-y-2">
          <li
            class="filter-box flex gap-x-2"
            v-for="(sub, index) in filter.subs"
            :key="index"
            @click="filterItemChecked(filter.title, sub)"
          >
            <label class="filter-box__checkbox text-gray-400 flex gap-x-1">
              <input type="checkbox" :name="sub" :id="sub" />
              <span>{{ sub }}</span>
            </label>
          </li>
        </div>
        <input
          v-if="filter.subs.length === 0 && filter.isShow"
          type="range"
          min="0"
          max="100"
          value="40"
          class="range range-xs range-orange-500"
        />
      </ul>
    </div>
  </aside>
</template>

<script>
import { mapState, mapMutations } from "vuex";

export default {
  data() {
    return {
      filters: [
        {
          title: "برند محصول",
          img: require("../assets/images/svgs/brand-filter.svg"),
          subs: ["اپل", "شیائومی", "سامسونگ", "هواوی"],
          isShow: true,
        },
        {
          title: "رنگ محصول",
          img: require("../assets/images/svgs/color-filter.svg"),
          subs: ["طلایی", "سفید", "آبی", "هواوی"],
          isShow: false,
        },
        {
          title: "محدوده قیمت",
          img: require("../assets/images/svgs/price-filter.svg"),
          subs: [],
          isShow: false,
        },
      ],
    };
  },
  methods: {
    filterItemChecked(title, sub) {
      this.$store.commit("addNewFilter", { key: title, value: sub });
    },
  },
  computed: {
    ...mapState(["categories"]),
  },
};
</script>

<style>
</style>