<template>
  <!-- header for mobile -->
  <MobileHeader class="md:hidden"/>
  <!-- header for tablet & desktop -->
  <DesktopHeader class="hidden md:block"/>

  <router-view />

  <!-- footer for tablet & desktop -->
  <DesktopFooter class="hidden md:block"/>
  <!-- footer for mobile -->
  <MobileFooter class="md:hidden"/>
</template>

<script>
import MobileHeader from "./components/MobileHeader.vue";
import MobileFooter from "./components/MobileFooter.vue";

import DesktopHeader from "./components/DesktopHeader.vue";
import DesktopFooter from "./components/DesktopFooter.vue";

export default {
  components: {
    MobileHeader,
    MobileFooter,
    DesktopHeader,
    DesktopFooter
  },
};
</script>

<style lang="scss">
@font-face {
  font-family: vazir;
  src: url(./assets/fonts/Vazir.woff);
}
#app {
  font-family: vazir;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f4;
}
</style>
